<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <form class="col-12" th:action="@{/login}" method="post">
        <label for="username">
            <input id="username" placeholder="Email" name="username" type="text"/>
        </label>
        <label for="password">
            <input id="password" placeholder="Contraseña" name="password" type="password"/>
        </label>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>